<div class="container">
  <div class="row">
    <div class="mx-auto" >
      <%= image_tag('golf-course_46483-6.jpeg') %>
    </div>
  </div>
  <div class="row">
    <div class="px-5 px-sm-0 mx-auto">
      <div class="mx-auto">
        <div style="text-align:center;">
          <p>
            FavoriteGolfCourseは、あなたが行きたいゴルフ場が簡単に見つかります。<br>
            どんな特徴のあるコースなのか、人気があるコースはどのゴルフ場か、<br>
            ゴルファー達の経験を元にした投稿から、すばやく見つけてみませんか？<br>
            自分だけのゴルフ記録もこのサイトで簡単に作ってみましょう〜！
          </p>
        </div>
      </div>
  </div>
</div>
