<div class="container">
  <div class="row">
    <h2 class="mx-auto">Favorite Golf Course</h2>
  </div>
  <div class="row">
    <div class="mx-auto">
      <%= image_tag "IMG_8608.jpg", :width => '700', :height => '400' %>
    </div>
  </div>
</div>