<div class="cover">
  <h1 class="title">Favorite Golf Course</h1>
  <div class="cover-inner">
    <%= image_tag "IMG_8608.jpg", :width => '700', :height => '400' %>
  </div>
</div>
<div class="container">
  <p></p>
  <div class="features">
    <div class="container">
      <div class="section-title text-center">
        <h1 class="title">
          FavoriteGolfCourseとは？
        </h1>
        <h4 class="title">
          FavoriteGolfCourseは、あなたが行きたいゴルフ場が簡単に見つかります。<br>
          どんな特徴のあるコースなのか、人気があるコースはどのゴルフ場か、<br>
          ゴルファー達の経験を元にした投稿から、すばやく見つけてみませんか？<br>
          自分だけのゴルフ記録もこのサイトで簡単に作ってみましょう〜！
        </h4>
      </div>
    </div>
  </div>
  <h2>ゴルフ場ランキング</h2>
</div>
