<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-3"><strong>FavoritGolf⛳</strong></h1>
      </div>
    </div>
  </div>
</header>
<div class="features">
  <div class="container">
    <div class="section-title text-center">
      <h2 class="title m-4"><strong>FavoritGolf</strong>とは？</h2>
      <h4 class="title mb-4">
        FavoritGolfは、あなたがラウンドしたゴルフ場のスコアや情報を管理できます。<br>
        どんな特徴のあるコースなのか、人気があるコースはどのゴルフ場か、<br>
        ゴルファー達の経験を覗きながらあなたのゴルフライフに活用しませんか？<br>
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-4 feature text-center">
        <span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
        <i class="far fa-comment" style="font-size: 40px"></i>
        <h3 class="feature-title" style="font-size: 20px"><strong>リアルな口コミ</strong></h3>
        <p>✔	ゴルファーによるリアルな口コミでゴルフ場選びをサポート</p>
      </div>
      <div class="col-lg-4 col-sm-4 feature text-center">
        <span aria-hidden="true" class="glyphicon glyphicon-check" style="font-size: 40px"></span>
        <i class="far fa-image" style="font-size: 40px"></i>
        <h3 class="feature-title" style="font-size: 20px"><strong>見やすいレイアウト</strong></h3>
        <p>✔	PCやスマートフォンどちらからでも見やすい設計</p>
      </div>
    </div>
  </div>
</div>
<div class="container my-4">
  <div class="region">
    <div class="row mx-auto">
      <div class="justify-content-center col-lg-6">
        <h2 class="title my-4">
          <strong>・地方からゴルフ場を探す</strong>
        </h2>
        <% @regions.each do |region| %>
        　<%= link_to region.name, public_rankings_path(region_id: region.id), class: "btn btn-outline-primary btn-sm" %>
        <% end %>
        <h2 class="title my-4">
          <strong>・県名からゴルフ場を探す</strong>
        </h2>
        <% @prefectures.each do |prefecture| %>
        　<%= link_to prefecture.name, public_public_golfcourses_path(prefecture_id: prefecture.id), class: "btn btn-outline-dark btn-sm" %>
        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>


