
 <% if current_user.already_liked?(golf_course) %>
    <%= link_to admin_golf_course_likes_path(golf_course), method: :delete, remote: true do %>
      <button type="button" class="btn btn-outline-danger btn-sm">お気に入り解除</button>︎<br>
      <!--お気に入り数：<%#= golf_course.likes.count %>-->
    <% end %>
  <% else %>
    <%= link_to admin_golf_course_likes_path(golf_course), method: :post, remote: true do %>
      <button type="button" class="btn btn-outline-danger btn-sm">マイページにお気に入り</button><br>
      <!--お気に入り数：<%#= golf_course.likes.count %>-->
    <% end %>
  <% end %>
